IronJS.Tests/bin/**/*

IronJS.Tests/obj/**/*

IronJS/bin/**/*
IronJS/obj/**/*
IronJS.Console/bin/**/*

IronJS.Console/obj/**/*
*
.suo
TestResults/**/*

TestResults
*.dia
~
ggt

*.sou
*.user
IronJS/Libs/Microsoft.Dynamic/bin/**/*
IronJS/Libs/Microsoft.Dynamic/obj/**/*
IronJS/Libs/Microsoft.Scripting/bin/**/*
IronJS/Libs/Microsoft.Scripting/obj/**/*
IronJS/Libs/Microsoft.Scripting.Core/bin/**/*
IronJS/Libs/Microsoft.Scripting.Core/obj/**/*
IronJS/Libs/Microsoft.Scripting.Debugging/bin/**/*
IronJS/Libs/Microsoft.Scripting.Debugging/obj/**/*