Src/IronJS/bin/**/*
Src/IronJS/obj/**/*
Src/IronJS.Compiler/bin/**/*
Src/IronJS.Compiler/obj/**/*
Src/IronJS.Runtime/bin/**/*
Src/IronJS.Runtime/obj/**/*
Src/IronJS.Dev/bin/**/*
Src/IronJS.Dev/obj/**/*
Src/IronJS.REPL/bin/**/*
Src/IronJS.REPL/obj/**/*
Src/IronJS.Tests/bin/**/*
Src/IronJS.Tests/obj/**/*
Src/TestResults/**/*
Build/**/*
*.dia~
*.user
*.suo
